{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="row justify-content-around my-5">
        <div class="card col-5">
            <div class="card-body">
                <h5 class="card-title">Créer un événement</h5>
                <p class="card-text">texte à determiner.</p>
                <a href="{{ path('app_event_new') }}" class="btn btn-primary">Créer !</a>
            </div>
        </div>
        <div class="card col-5">
            <div class="card-body">
                <h5 class="card-title">Consulter la liste des évènements</h5>
                <p class="card-text">texte à determiner.</p>
                <a href="#" class="btn btn-primary">Consulter !</a>
            </div>
        </div>
    </div>

{% endblock %}
